@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

$gap: 10px;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 4px;

// Height: appBar + boardBar + boardContent = 99vh, 1vh for scrollbar
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

//colors
$common-element-bg: rgba(225, 225, 225, 0.3);
$board-bg-color: #0079bf;
$input-border-color: #0079bf;
$appbar-bg-color: #0067a3;
$column-bg-color: #ebecf0;
$app-main-text-color: #333;

//Screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: "(max-width: 375px)";
